.card {
  background: hsl(0, 0%, 100%);
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
  max-width: 320px;
  margin: 40px auto;
  padding: 24px 16px 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qr-image {
  width: 100%;
  max-width: 310px;
  border-radius: 12px;
  display: block;
}
body {
  background-color: hsl(212, 45%, 89%);
}

.title {
  font-family: 'Outfit', sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  text-align: center;
  margin: 16px 0;
  padding: 0, 10px, 0, 10px;
}

.description {
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  text-align: center;
  line-height: 1.5;
  padding-left: 10px;
  padding-right: 10px;
}

.attribution {
  font-family: 'Outfit', sans-serif;
  font-size: 12px;
  font-weight: 400;
  position:absolute;
  bottom: 5px;